<div id="home">
    <h4>Introduction</h4>
    <p>
        Throughout my career I have worked on many high traffic sites that serve a multiple purposes. During that
        journey I have played many different roles: ranging from technical advisor, SEO strategist, coder,
        web development manager, project owner and director of technology.
    </p>
    <br />
    <p>I have the unique ability to understand a task at hand from the very tiny technical specifications all the
        way up to the stakeholders’ feedback & requirements.
    </p>
    <br />
    <p>
        I have worked on a variety of projects including:: video on demand (VOD), internal content management system (CMS),
        client facing content approval systems and daily deals sites.
    </p>
    <p>
        My technical skills grow from being able to write excellent quality code across a variety of languages
        that includes OOP JavaScript & PHP, HTML, CSS.
    </p>
    <br />
    <p>
        I also have a good understanding of those languages that I don’t yet consider myself to be proficient
        in, such as Python.
    </p>
    <br />
    <p>
        My real skill however is tying all that together and working with a team to build big products with
        massive impact.
    </p>
    <br />
    <p>
        More recently I have become extremely involved in front end development after having a growing interest
        in developing large systems in Backbone JS. I am now capable of creating a robust Backbone JS project from scratch.
    </p>
    <br />
    <p>
        I engineered a robust database structure, which then feeds to rigid API with strict methodologies in place.
        I was also part of choosing our framework of choice (BackboneJS) and ensuring the team had enough time to learn
        this (then new) framework and deliver back to the business.
    </p>
    <br />
    <p>
        Having supported this project for 2 years I got a deep understanding of how Backbone JS can help developers
    create complex views with very little code and headache.
    </p>
</div>