<div id="timeline">
    
    <div class="job red">
        <div class="date">
            July 14 - Present<span></span>
        </div>  
        <div class="job_description">
            <h2>Front end dev lead</h2>
            <h3>BT</h3>
            <p class="content">
                Development lead managing the workload and development of the products and services area of BT.com
                <br />
                Includes creating development standards, job standards and release management.
                <br />
                Job role has progressed into managing the sales area of the website to ensure a perfect web experience when buying products on BT.com on any browser and any device.
            </p>
        </div>
    </div>

    <div class="job blue">
        <div class="date">
            Aug 13 - May 14<span></span>
        </div>  
        <div class="job_description">
            <h2>UK tech advisor</h2>
            <h3>theAudience</h3>
            <p class="content">
                During a transition from one IT support Company to another, I was set in place to ensure that each and every user has a seamless experience. This includes managing the companies IT policies. My day to day includes meeting other tech companies and over seeing internal projects and providing feedback and guidance.
            </p>
        </div>
    </div>

    <div class="job green">
        <div class="date">
            Mar 13 - Aug 13<span></span>
        </div>  
        <div class="job_description">
            <h2>Technical product owner</h2>
            <h3>theAudience</h3>
            <p class="content">
                Having successfully launched and supported an internal CMS, I was given a chance to try a different role. I was tasked with understanding the needs of the end user and creating a feedback loop to create solid project specifications for the development team.
                <br />
                I would generate detailed wireframes and specification documents based on user & stake holders requirements. 
                <br />
                As part of this I ran high level pointing sessions and epic planning to visually sell to stake holders the expense of their decisions. I still coded for the PHP team internally when needed.
            </p>
        </div>
    </div>

    <div class="job dark-green">
        <div class="date">
            Apr 11 - Mar 13<span></span>
        </div>  
        <div class="job_description">
            <h2>Web dev manager</h2>
            <h3>theAudience</h3>
            <p class="content">
                theAudience was a start up of no more than 5 people, I was tasked with creating a custom CMS that would enable a growing team to create and curate content for clients. I was given free reign to build a team while housed inside the WME offices (a key investor). I initially built a team of freelancers and worked tirelessly to build a system with shifting priorities and an unclear vision. 
                <br />
                Initially I engineered a custom PHP API to create rapid prototypes and teamed it with a Zend Framework codebase for the front end. Eventually we switched the front end to use cutting edge technology (alpha backboneJS, requireJS, Underscore JS, MongoDB).
                <br />
                My team built the system in 9 months. It was a vital part of growing the business and led to a massive expansion for the UK branch of theAudience.
                <br />
                After a successful launch we developed a client-facing version of the product and then set about building a full time team to support the product.
                <br />
                My day to day included: managing the team development, developing both JS and PHP code with the team, reporting back to the project manager of timing and expectations.
            </p>
        </div>
    </div>

    <div class="job dark-green">
        <div class="date">
            Sep 09 - Apr 11<span></span>
        </div>  
        <div class="job_description">
            <h2>LAMP dev</h2>
            <h3>LF</h3>
            <p class="content">
                I was brought in to create a video on demand system using the Zend Framework and Wowza Media Service that allowed users to buy monthly memberships or per minute credits across multiple currencies. I achieved this in 5 months after being given an 8-month timeframe.
                <br />
                I was then tasked with creating an affiliate management system that would give clients real time information on streaming revenue. I achieved this in a mere 2 months which gave me time to create a white label system for these clients that was eventually bought by a large retail chain.
                <br />
                My last tasks at Lightfarm were to install Interspire Email Marketer and migrate Interspire Shopping Cart to Magento Shopping Cart. This was a difficult trying 3-month project that taught me a lot about database engineering and table conversion.
            </p>
        </div>
    </div>


    <div class="job dark-green end">
        <div class="date">
            Jan 07 - Sept 09<span></span>
        </div>  
        <div class="job_description">
            <h2>Web dev manager</h2>
            <h3>Markco Media</h3>
            <p class="content">
                Upon joining Markco Media as a PHP developer: I excelled at delivering new features in quicker than expected timeframes and was recognised as the stronger developer on a distributed team.
                <br />
                I was then granted my request to rewrite their framework using my own methodologies as I felt their own system wasn’t going to cope with the large amount of traffic the site was starting to receive. I managed this remotely with a team in Rotherham while I worked from home.
                <br />
                I was promoted to Web development manager when they opened up an office in London. I was then tasked with building a team of 10 web developers, which I did within two months. Having built the team I was then in control of managing the entire framework and its future development, to create exciting new features.
            </p>
        </div>
    </div>
  
</div>