<div id="jobs">
    <h3>Jobs</h3>
    <% if (loading) { %>
    Currently Loading
    <% } %>
    <ul>
        <% _.each(list, function(val, key) { %>
        <li>
            <strong>
                <% if (!_.isEmpty(val.website)) { %>
                    <a href="<%=val.website%>" target="_blank"><%=val.alias%></a>
                <% } else { %>
                    <%=val.alias%>
                <% } %>
            </strong> from <strong><%=val.from%></strong> to <strong><%=val.to%></strong>
        </li>
        <% }) %>
    </ul>
</div>