<div id="references">
    <h3>References</h3>
    <% if (loading) { %>
    Currently Loading
    <% } %>
    Available on request, <a href="mailto:aaron.lote@gmail.com">please email me directly</a>.
    <!--<ul>-->
        <!--<% _.each(list, function(val, key) { %>-->
        <!--<li>-->
            <!--<div><%=val.name%></div>-->
            <!--<div><%=val.email%>: <%=val.phone%></div>-->
            <!--<div><a href="<%=val.website%>" target="_blank"><%=val.website%></a></div>-->
        <!--</li>-->
        <!--<% }) %>-->
    <!--</ul>-->
</div>