<div id="sites">
    <div class="site">
        <h4>HiveTracking.com</h4>
        <p class="description">A simple time tracking system to manage users, clients, teams, holiday requests and sickness tracking. Allowing you to view simple, yet detailed story based analytics reports by client, user and team.</p>
        <ul class="gallery clearfix">
            <li>
                <a target="_blank" href="/img/hivetracking/calendar.png">
                    <img src="/img/hivetracking/thumbs/calendar.png" />
                </a>
            </li>
            <li>
                <a target="_blank" href="/img/hivetracking/analytics.png">
                    <img src="/img/hivetracking/thumbs/analytics.png" />
                </a>
            </li>
            <li>
                <a target="_blank" href="/img/hivetracking/users.png">
                    <img src="/img/hivetracking/thumbs/users.png" />
                </a>
            </li>
            <li>
                <a target="_blank" href="/img/hivetracking/quickview.png">
                    <img src="/img/hivetracking/thumbs/quickview.png" />
                </a>
            </li>
            <li>
                <a target="_blank" href="/img/hivetracking/time-management.png">
                    <img src="/img/hivetracking/thumbs/time-management.png" />
                </a>
            </li>
        </ul>
    </div>
    <br />
    <div class="site">
        <h4>MyVoucherCodes.co.uk</h4>
    </div>
    <br />
    <div class="site">
        <h4>Backstage.theAudience.com</h4>
    </div>
</div>